header{
    background-image: url(/image/karsten-winegeart-A0clkcAf4v8-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: antiquewhite;
    height: 100vh;
}

nav{
    border: 5px;
    background-color: brown;
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
    gap: 40;
    justify-content: space-between;
    align-items: center;
}

span{
    font-size: 25px;
    font-weight: bold;
}

/* ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

header a{
    text-decoration: none;
    color: antiquewhite;
}

header a:hover{
    color: red;
}

button{
    background-color: transparent;
    border-radius: 10px;
    padding: 7px;
    font-weight: bold;
    margin-top: 20px;
    align-self: center;
}

li{
    display: inline;
}

.navlinks{
    display: flex;
    gap: 30;
}

.header-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    margin: auto;
    width: 30%;
    height: 65%;
}

section{
    background-color: blanchedalmond;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    width: 100%;
}

section p{
    width: 50%;
    text-align: center;
    margin-top: 30px;
}